<h1>Viewing Party Lite</h1>

<div id="users">
Existing Users:<br>
<% if @users.count > 0 %>
  <% @users.each do |user| %>
    <%= user.email %><br>
  <% end %><br>
<% else %>
  There are no existing users. Create a new user to get started!<br>
<% end %><br>
</div>

<div id="new-user-button">
<%= button_to("Create a New User", register_path) %>
</div>
